@import url("./normalize.css");

:root {
  --color: #ff8db7;
  --background-color: #f0f0f0;
  --text-color: #898989;
}

body {
  font-family: '苹方', 'Courier New', Courier, monospace;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}